<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Caso Juguetes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
       <h1>Caso de Uso Pedir Juguetes</h1>
       <p>Evento 2 - Juguete Elegido</p>
       <p th:text="'Mensaje : ' + ${mensaje} + '!'" />
       <p></p> 
       <p>-      ID Pedido: <span th:text="${pedido.getIdPedido()}"/>  </p>
       <p>-      Fecha: <span th:text="${pedido.getFecha()}"/>  </p>
       <p>-      Cli en Ped: <span th:text="${pedido.getCliente().getIdCliente()}"/>  </p>
       <p>-      Jug en Ped: <span th:text="${pedido.getJuguete().getIdJuguete()}"/>  </p>
       <p></p> 
       <p>-      ID Cliente: <span th:text="${cActual.getIdCliente()}"/>  </p>
       <p>-      Apellido: <span th:text="${cActual.getApellido()}"/>  </p>
       <p>-      Nombre: <span th:text="${cActual.getNombre()}"/>  </p>
       <p></p> 
       <p>-      ID Juguete: <span th:text="${juguete.getIdJuguete()}"/>  </p>   
       <p>-      Descripción: <span th:text="${juguete.getDescripcion()}"/>  </p>
       <p>-      Precio: <span th:text="${juguete.getPrecio()}"/>  </p>       
       <p><p><a href="/buscarJug" class="btn btn-default" role="button">Otro Pedido</a></p></p>
       <p><p><a href="/" class="btn btn-default" role="button">Volver al Inicio</a></p></p>
</body>   
</html>