<!DOCTYPE HTML>
<!-- confirmacion.html ==> muestra la confirmación del pedido (con los campos de acuerdo al enunciado del C.U.)
    [LRI 10/8/19]   -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Caso Juguetes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
       <h1>Caso de Uso Pedir Juguete</h1>
       <h2>Evento 2 - Juguete Elegido</h2>
       <p th:text="'Mensaje : ' + ${mensaje} + '!'" /> <!-- Este mensaje no está en el enunciado. Se coloca por si hay que hacer algún debug --> 
       <p></p> 
       <p>-      Apellido: <span th:text="${cActual.getApellido()}"/>  </p>
       <p>-      Nombre: <span th:text="${cActual.getNombre()}"/>  </p>
       <p></p> 
       <p>-      ID Juguete: <span th:text="${juguete.getIdJuguete()}"/>  </p>   
       <p>-      Descripción: <span th:text="${juguete.getDescripcion()}"/>  </p>
       <p>-      Precio: <span th:text="${juguete.getPrecio()}"/>  </p>       
       <p><p><a href="/buscarJug" class="btn btn-default" role="button">Otro Pedido</a></p></p>
       <p><p><a href="/" class="btn btn-default" role="button">Volver al Inicio</a></p></p>
</body>   
</html>