<!DOCTYPE HTML>
<!-- home.html ==> View del menu principal
    Esta view no está en el enunciado, se agrega para poder tener otras opciones disponibles en la aplic. ejecutable
    Lo incluido en el enunciado corresponde al punto 1 del menú: "Pedir Juguete"
    [LRI 10/8/19]  
    GMODIF#1- Se agrega Sección posterior del menu con Ejemplos Programación, 
    Colocando en este primer momento la llamada a "Ingresar Variable Instancia" y ""
    [LRI 8/9/19] -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Caso Juguetes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>Menu Principal - Caso Juguetes</h1>
<p><p><a href="/buscarJug" class="btn btn-default" role="button">Pedir Juguete</a></p></p>
<p><p><a href="/listarPedidos" class="btn btn-default" role="button">Listar Pedidos realizados</a></p></p>
<p><p><a href="/h2-console" class="btn btn-default" role="button">Consola H2</a></p></p>
<p><p><a href="https://github.com/utnlri/juguetes" class="btn btn-default" role="button">Ver código fuente en: https://github.com/utnlri/juguetes</a></p></p>
<p><p><a href="https://drive.google.com/open?id=1k3peFldEXTOzxW9smhBwgdvzsICX2Ha0" class="btn btn-default" role="button">Ver Dominio Caso Juguetes</a></p></p>
<p><p><a href="https://drive.google.com/open?id=1SGzfDH8SJmflsn83yMrVm64uEJfvedrc" class="btn btn-default" role="button">Ver Enunciado C.U. Pedido de Juguete</a></p></p>
<p><p><a href="https://drive.google.com/open?id=1vRJE2rAhkkXFPU-ulEZvBfPBZEewlsW0" class="btn btn-default" role="button">Ver DCD/DSD Caso Juguetes</a></p></p>

<p>
	<p> ====================================================================================		
	</p>
	</p>

    <h2>Ejemplos Programación</h2>
	
    <p>
	<p>
		<a
			href="/ingresarVarInstancia"
			class="btn btn-default" role="button">Ingresar Variable Instancia</a>
	</p>
	<p>
		<a
			href="/mostrarVarInstancia"
			class="btn btn-default" role="button">Mostrar Variable Instancia</a>
	</p>
	</p>
	
</body>
</html>