<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Caso Juguetes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>Menu Principal</h1>
<p><p><a href="/buscarJug" class="btn btn-default" role="button">Realizar un Pedido</a></p></p>
<p><p><a href="/listarPedidos" class="btn btn-default" role="button">Listar Pedidos realizados</a></p></p>
<p><p><a href="/h2-console" class="btn btn-default" role="button">Consola H2</a></p></p>
<p><p><a href="https://github.com/utnlri/juguetes" class="btn btn-default" role="button">Ver código fuente en: https://github.com/utnlri/juguetes</a></p></p>


</body>
</html>